@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cache Manager Sample</h1>
    <p class="lead">Copy the DLL from /lib into your project and add a handler in your web.config.</p>
</div>

